<section class="section">
  <div class="container">
    <h2 class="text-center section-title">Nuestros productos</h2>
    <div class="row">
      <div class="col-md-3">
        <!-- <app-product-categories [categories]="categories"></app-product-categories> -->
        <div>
          <h4>Categorias</h4>
          <br>
          <div class="row" *ngIf="categories">
            <div class="col-md-12">
              <ul style="list-style-type: none;">
                <li *ngFor="let category of categories">
                  <input [(ngModel)]="category.checked" (change)="categoryFilter()" type="checkbox"
                    class="me-2">{{category.name}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <app-product-list [products]="products"></app-product-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>