<section class="section">
  <div class="container">
    <h2 class="section-title">Acerca de Nosotros</h2>
    <div class="row">
      <div class="col-md-6 description">
        <div class="product-description-card">
          <div class="card-body">
            <h5 class="text-center">Product Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut magna eu risus
              laoreet
              volutpat. Nulla facilisi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 description">
        <img src="../../../../assets/images/soap.jpg" alt="Product Image">
      </div>
    </div>
  </div>
</section>