<div class="row">
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card product-card">
      <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Cosmetic Product">
      <div class="card-body">
        <h5 class="card-title">Cosmetic Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <p class="card-text">$29.99</p> -->
        <button routerLink="/products/jabones/description" class="btn">Ver más</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>