<div class="admin-page">
  <div class="card">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-12">
          <h5 class="card-title">List of categories</h5>
          <a routerLink="/admin/categories/form" class="btn btn-primary">Add Category</a>
        </div>
      </div>
      <hr>
      <hr>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let category of categories; let i = index">
              <tr>
                <th scope="row">{{ i + 1}}</th>
                <td>{{ category._id }}</td>
                <td>{{ category.name }}</td>

              </tr>
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>