<div class="admin-page">
  <div class="card" *ngIf="categories">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-12">
          <h5 class="card-title">List of categories</h5>
          <a routerLink="/admin/categories/form" class="btn btn-primary">Add Category</a>
        </div>
      </div>
      <hr>
      <hr>
      <div class="row">
        <div class="col-12 table-responsive-md">
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let category of categories; let i = index">
              <tr>
                <th scope="row">{{ i + 1}}</th>
                <!-- <td>{{ category._id }}</td> -->
                <td>{{ category.name }}</td>
                <td><img [src]="category.image" alt="image" style="width: 100px; height: 100px"> </td>
                <td>
                  <button class="btn me-1 mb-1" (click)="updateCategory(category._id)">Edit</button>
                  <button class="btn mb-1" (click)="deleteCategory(category._id)">Del</button>
                </td>

              </tr>
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>