<button (click)="back()" class="btn btn-primary">Back</button>
<div class="row">
  <div class="col-md-6 description">
    <div class="card product-description-card">
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut magna eu risus laoreet
          volutpat. Nulla facilisi.</p>
        <!-- <p class="card-text">$29.99</p> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 description">
    <img src="../../../../assets/images/soap.jpg" alt="Product Image">
  </div>
</div>