<section class="products-carousel section bg-green-light full-lg-screen">
  <div class="container">
    <h2 class="text-center section-title">Productos</h2><br>
    <div class="row">
      <div class="col-md-4">
        <div class="card category-card">
          <img src="../../../../assets/images/soap.jpg" class="card-img-top" alt="Jabones">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card category-card">
          <img src="../../../../assets/images/aroma.jpg" class="card-img-top" alt="Aromas">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card category-card">
          <img src="../../../../assets/images/cream.jpg" class="card-img-top" alt="Creamas">
        </div>
      </div>
    </div>
  </div>
</section>