<section class="welcome section container full-lg-screen" id="welcome">
  <article>
    <aside class="text-center">
      <h1>Saluda y belleza de la Piel</h1>
      <br>
      <h2>Cosmetica Natural</h2>
      <br>
      <p>
        Desde la antigüedad, las personas han confiado su Belleza y Cuidado Personal a lo que nos ofrece la Naturaleza.
        Es por
        eso que en Akllasumaq tenemos una línea de productos Hechos a Mano, elaborados con Activos 100% Naturales, que
        marcan la
        diferencia en el mundo de la Belleza y han demostrado sus beneficios en la Piel, durante el tiempo que hemos
        descubierto
        sus propiedades y lo demuestra la satisfacción de nuestros clientes.
      </p>
    </aside>
  </article>
  <article>
    <img class="welcome-image" src="../../../../assets/images/patty_rivas.jpg" alt="Patricia Rivas">
  </article>
</section>