.products-carousel {
  margin-left: auto;
  margin-right: auto;
}

.category-card {
  transition: transform 0.3s;
  height: 70vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category-card:hover {
  transform: scale(1.05);
}
