/* Stepper */

.stepper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

.step {
  width: 100%;
  height: 40px;
  border: 2px solid #007bff;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.step.active {
  background-color: #007bff;
  color: white;
}

.step:not(.active):hover {
  background-color: #f0f0f0;
}

/* / Stepper */

/* Category */

.product-card {
  max-width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card .card-body {
  padding: 20px;
}

.product-card h5 {
  margin: 0;
}

.product-card p {
  margin: 10px 0;
}

.product-card .btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.product-card .btn:hover {
  background-color: #0056b3;
}

/* / Category */

/* Description */

.description {
  padding-left: 0;
  padding-right: 0;
}

.product-description-card {
  display: flex;
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 10px; */
  overflow: hidden;
  /* margin: 20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.product-description-card img {
  max-width: 100%;
  height: auto;
}

.product-description-card .card {
  height: 100%;
}

.product-description-card .card-body {
  padding: 20px;
  position: sticky;
  top: 20px; /* Adjust as needed */
}

.product-description-card h5 {
  margin: 0;
}

.product-description-card p {
  margin: 10px 0;
}
/* / Description */
